<div class="overview-container">

  <div class="header-row">
    <h2 class="page-title">Overview</h2>
     <select [(ngModel)]="selectedFilter" (change)="applyPresetFilter()">
      <option value="today">Today</option>
      <option value="week">This Week</option>
      <option value="month">This Month</option>
      <option value="year">This Year</option>
    </select>
    
    <small class="hint">
  Showing data for: {{ selectedFilter | titlecase }}
</small>
    <input
      type="date"
      [(ngModel)]="fromDate"
      (change)="applyCustomDateFilter()"
    />

    <span class="to-text">to</span>

    <input
      type="date"
      [(ngModel)]="toDate"
      (change)="applyCustomDateFilter()"
    />

  </div>

  <div *ngIf="loading">Loading dashboard…</div>

  <div class="stats-grid" *ngIf="!loading">
    <div class="stat-card">
      <p>Total Clients</p>
      <h3>{{ totalClients }}</h3>
    </div>

    <div class="stat-card income">
      <p>Total Income</p>
      <h3>₹ {{ totalIncome }}</h3>
    </div>

    <div class="stat-card received">
      <p>Received</p>
      <h3>₹ {{ totalReceived }}</h3>
    </div>

    <div class="stat-card balance">
      <p>Balance</p>
      <h3>₹ {{ totalBalance }}</h3>
    </div>
  </div>

  <div class="overview-bottom" *ngIf="!loading">
    <div class="chart-card">
      <h4>Income vs Expense</h4>
      <canvas #incomeChart></canvas>
    </div>

    <div class="expense-card">
      <h4>Add Expense</h4>

      <input type="number" placeholder="Expense Amount" [(ngModel)]="expenseAmount" />
      <input type="text" placeholder="Reason" [(ngModel)]="expenseReason" />

      <button>Add</button>
    </div>
  </div>

</div>
