<aside class="sidebar">
    <ul>
        <li>
            <a routerLink="/overview" routerLinkActive="active">Overview</a>
        </li>
        <li>
            <a routerLink="/invoices" routerLinkActive="active">Invoice</a>
        </li>
        <li>
            <a routerLink="/listinvoices" routerLinkActive="active">Invoice List</a>
        </li>
        <li>
            <a routerLink="/addclient" routerLinkActive="active">Add New Client</a>
        </li>
        <li>
            <a routerLink="/clients" routerLinkActive="active">Client Details</a>
        </li>
        <li>
            <a routerLink="/support" routerLinkActive="active">Get Support</a>
        </li>
    </ul>
    <!-- Logout appears ONLY on mobile -->
    <div class="mobile-only logout-wrapper">
        <button type="button" (click)="logout()" class="nav-logout desktop-only">
            Logout
        </button>
    </div>
</aside>