<aside class="sidebar">
    <ul>
        <li>
            <a routerLink="/dashboard" routerLinkActive="active">Invoice</a>
        </li>
        <li>
            <a routerLink="/invoice-list" routerLinkActive="active">Invoice List</a>
        </li>
        <li>
            <a routerLink="/add-client" routerLinkActive="active">Add New Client</a>
        </li>
        <li>
            <a routerLink="/clients" routerLinkActive="active">Client Details</a>
        </li>
        <li>
            <a routerLink="/income-expenses" routerLinkActive="active">Income & Expenses</a>
        </li>
        <li>
            <a routerLink="/support" routerLinkActive="active">Support</a>
        </li>
    </ul>
    <!-- Logout appears ONLY on mobile -->
    <div class="mobile-only logout-wrapper">
        <a routerLink="/logout" class="sidebar-logout" routerLinkActive="active" (click)="close.emit()">Logout</a>
    </div>
</aside>